
div#BoxDivMainSection {
    background: #e9ebee;
    position: absolute;
    width: 98%;
}

div#BoxSet {
    position: relative;
    width: 98%;
    margin: 4% 1%;
}

div#BoxSet #box1, #box2, #box3 {
    display: inline-block;
    background: white;
    margin: 14px 7px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.float-left {
    float: left;
}


.float-right {
    float: right;
}

.side-box {
    
width: 219px;
}

.mid-box {
    width: 62%;
}

div#box3 {
    position: absolute;
}

div#box2 p {
    color: #1d2129;
    padding: 2px 20px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0px;
    word-spacing: 10px;
}

.border1pxSolid {
    
border: 1px solid lightgray;
}


.border3pxRad {
    
   border: 1px solid #dddfe2;
    border-radius: 4px;
}