div#mainPostBox100025819950325 {width: 86%;margin: 0 auto;padding: 2px 0;}

body {
    /* background: #051123; */
    /* color: #e90909; */
    color: red;
    background: black;
    font-size: 2em;
}

div#mainBox614622399408420 {
    background: #050101;
    border: 1px solid indianred;
}

div#mainBox614622399408420 {
    width: 1012px;
    margin: 0 auto;
}