div#postBox941753792903607 {width: 755px;margin: 0 auto;padding: 2px 0;}

body {
    background: #e9ebee;
}

div#mainBoxkalantorpatokforum {
    background: white;
}

div#mainBoxkalantorpatokforum {
    width: 860px;
    margin: 0 auto;
}