div#mainPostBox720559735448173 {width: 86%;margin: 0 auto;padding: 2px 0;}

body {
    background: #e9ebee;
/*    color: #1d2129;*/
    color: aqua;
}

div#mainBoxkazimonirulislamBD {
    background: white;
}

div#mainBoxkazimonirulislamBD {
    width: 633px;
    margin: 0 auto;
}