div#mainPostBox724525115051635 {width: 86%;margin: 0 auto;padding: 2px 0;}

body {
    /* background: #051123; */
    /* color: #e90909; */
    /* color: red; */
    background: #f4eef9;
    font-size: 2em;
    color: black;
}

div#mainBoxkazimonirulislamBD {
    background: #b9dbff;
    /* border: 1px solid indianred; */
}

div#mainBoxkazimonirulislamBD {
    width: 1012px;
    margin: 0 auto;
}