div#mainPostBox737144900365523 {width: 86%;margin: 0 auto;padding: 2px 0;}

body {
    
background: #1b032e;
    
font-size: 2em;
    
color: #d80812;
}

div#mainBoxminarrahman39904181 {
    background: #4f0804;
    border: 1px solid indianred;
}

div#mainBoxminarrahman39904181 {
    width: 1012px;
    margin: 0 auto;
}